# Default ignored files
/../../Resources Calculator /.idea/shelf/
/../../Resources Calculator /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Resources Calculator /.idea/httpRequests/
# Datasource local storage ignored files
/../../Resources Calculator /.idea/dataSources/
/../../Resources Calculator /.idea/dataSources.local.xml
